#myMenu{
    position:absolute;
    top:0;
    height:180px;
    width:150px;
    border:1px solid rgba(0,0,0,.3);
    background-color:rgba(0,0,0,.6);
    border-radius:5px;
        overflow: hidden;
        box-shadow: 0 15px 10px rgba(0,0,0,0.5);

}

.menurow{
    font-family: 'roboto',arial;
    padding:2px 4px;
    color:#CDCDCD;
    cursor:pointer;
}

.menurow:hover{
    background-color:#CDCDCD;
    color:black;
}

#menuclosewrapper{
    padding:2.5px;
    display: flex;
}

#menuclose{
    margin-left:auto;
    margin-right:2px;
    color:#CDCDCD;
}

.active{
    background-color: #CDCDCD;
    color:black;
}

.notactive{
    padding:.5px 0;
    color:#CDCDCD;
    background-color:rgba(0,0,0,.6);

}

.closedmenu{
    display:none;
    position:fixed;
    height:50px;
    width:50px;
    background-color:black;
    color:#CDCDCD;

}

.closedwrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    height:50px;
    width:50px;
}